<!DOCTYPE html>
<html ng-app="toggle_jobs">
  <head>

  <meta charset="utf-8" />
  <title>Rosato Selected Coding Challenge</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" rel="stylesheet" href="./style.css" />
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="app.js"></script>

  </head>

  <body>
    <div class="container">
    
      <h1 class="text-center">Selected Education Jobs in NYC</h1>
      <br>
      
      <div ng-controller="MainController">
        <h3 class="text-left">Employers, please click on the "Change Status" button when a specific job is no longer active.</h3><br><br>

        <table ng-init="loadJobs()" ng-table="vm.tableParams" ng-model="jobs" class="table table-hover">
          <tr>
            <th>Toggle Status</th>
            <th>Current Status</th>
            <th>Job Title</th>
            <th>Date Created</th>
            <th>More Information</th>
          </tr>
          <tr ng-repeat="job in jobs">
            <td title="Active/Inactive">
              <button ng-click="changeStatus(jobs[$index]._id)" class="btn btn-primary">Change Status</button>
            </td>
            <td>{{jobs[$index].status}}</td>
            <td title="Job Title">{{jobs[$index].title}}</td>
            <td title="Date">{{jobs[$index].creationDate}}</td>
            <td title="More info">  
              <ul>
                <li ng-repeat="tag in jobs[$index].tags">{{tag}}</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

    </div>
  
  </body>
</html>