<!DOCTYPE html>
<html ng-app="toggle_jobs">
  <head>
  <meta charset="utf-8" />
  <title>Rosato Selected Coding Challenge</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<!-- What's wrong with this? 
  <script src="node_modules/angular/angular.js"></script>-->
  <script src="app.js"></script>

  </head>

  <body>
    <div class="container">
    
      <h1 class="text-center">Active and Inactive Jobs</h1>
      
      <div ng-controller="MainController">
        <p class="text-center">{{welcome}}</p>

        <table ng-init="loadJobs()" ng-table="vm.tableParams" ng-model="jobs" class="table">
          <tr>
            <th>Toggle Status</th>
            <th>Current Status</th>
            <th>Job Title</th>
            <th>Date Created</th>
            <th>More Information</th>
          </tr>
          <tr ng-repeat="job in jobs">
            <td title="Active/Inactive">
              <button ng-click="changeStatus(jobs[$index]._id)">Change Status</button>
            </td>
            <td>{{jobs[$index].status}}</td>
            <td title="Job Title">{{jobs[$index].title}}</td>
            <td title="Date">{{jobs[$index].creationDate}}</td>
            <td title="More info">  
              <ul>
                <li ng-repeat="tag in jobs[$index].tags">{{tag}}</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

    </div>
  
  </body>
</html>